
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 21px;
	color: #989086;
	background: #222;
	font-family: Signika, sans-serif;
	text-shadow: 0.5px 1px 3px rgba(0,0,0, 0.3);
}

@keyframes colorize {
	0% { color: #009bff; }
	33% { color: #00caff; }
	66% { color: #00ff60; }
}

h1, h2 {
	color: #e96814;
	color: white;
}

a {
	animation: colorize 180s infinite;
	color: #009bff;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
	text-decoration: underline;
}

/* plate */

.plate {
	width: 80%;
	display: flex;
	flex-direction: row;
	padding: 0 2em;
	margin: auto;
	margin-top: 2em;
}

.plate > * {
	flex: 1 1 auto;
	width: 100%;
}

.plate > *:first-child {
	flex: 1 0 auto;
	width: 65%;
}

.sepia img {
	filter: sepia(60%);
}

.plate > .imagery > div {
	display: flex;
}

.plate > .imagery figure {
	flex: 1;
}

.plate > .imagery figure img {
	display: block;
	width: 100%;
}

@media (min-width: 1600px) {
	.plate {
		width: 60%;
	}
}

@media (min-width: 2000px) {
	.plate {
		width: 50%;
	}
}

@media (max-width: 1000px) {
	.plate {
		flex-direction: column;
	}
	.plate > *:first-child {
		width: 100%;
	}
	.plate .content {
		padding: 0;
		margin-top: 1em;
	}
}

@media (max-width: 750px) {
	.plate {
		width: 100%;
	}
}

.slice {
	width: 80%;
	margin: auto;
	background: #456 linear-gradient(to bottom, #567, #456);
	border-top: 1px solid rgba(255,255,255, 0.2);
	border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.content {
	padding: 2em;
}

.content * + h1,
.content * + h2,
.content * + h3,
.content * + h4,
.content * + h5,
.content * + h6,
.content * + p,
.content * + ul,
.content * + ol,
.content * + li {
	margin-top: 0.67em;
}

.content ul, .content ol {
	padding-left: 1.25em;
}

/* site header */

lonnie-header {
	text-align: center;
}

lonnie-header {
	display: block;
	min-height: 77px;
}

lonnie-header nav {
	color: #777;
}

lonnie-header a[data-marked] {
	animation: none;
	color: #999;
	cursor: default;
}

lonnie-header {
	text-align: center;
}

lonnie-header h1 {
	font-size: 2em;
}

lonnie-header nav > a {
	margin: 0;
}

/* hire lonnie */

.hire-lonnie {
	display: flex;
	flex-direction: row;
}
