
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 21px;
	color: #989086;
	background: #222;
	font-family: Signika, sans-serif;
	text-shadow: 0.5px 1px 3px rgba(0,0,0, 0.3);
}

body {
	padding-bottom: 4em;
}

body::after {
	content: "";
	display: block;
	clear: both;
}

h1, h2 {
	color: #e96814;
	color: white;
}

a {
	color: #009bff;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:focus {
	color: #27d3ff;
	text-decoration: underline;
}

.slice {
	width: 80%;
	margin: auto;
	margin-top: 2em;
}

.tallslice {
	margin-top: 4em;
	margin-bottom: 4em;
}

.slice > figure > img {
	width: 100%;
	display: block;
}

.side-by-side {
	display: flex;
	flex-direction: row;
}

.side-by-side > * {
	flex: 1 1 auto;
	width: 100%;
}

.side-by-side > *:first-child {
	flex: 1 0 auto;
	width: 65%;
}

.sepia img {
	filter: sepia(60%);
}

.side-by-side > .imagery > div {
	display: flex;
}

.side-by-side > .imagery figure {
	flex: 1;
}

.side-by-side > .imagery figure img {
	display: block;
	width: 100%;
}

.content * + h1,
.content * + h2,
.content * + h3,
.content * + h4,
.content * + h5,
.content * + h6,
.content * + img,
.content * + p,
.content * + ul,
.content * + ol,
.content * + li,
.content * + carouse-carousel,
.content * + figure {
	margin-top: 0.67em;
}

.content ul, .content ol {
	padding-left: 1.25em;
}

.content li > p {
	margin-top: 0;
}

.content .detail {
	opacity: 0.8;
	font-size: 0.9em;
}

.side-by-side .content {
	padding-left: 1em;
}

@media (min-width: 1600px) {
	.slice {
		width: 60%;
	}
}

@media (min-width: 2000px) {
	.slice {
		width: 50%;
	}
}

@media (max-width: 1000px) {
	.side-by-side {
		flex-direction: column;
		margin-top: 4em;
	}
	.side-by-side > *:first-child {
		width: 100%;
	}
	.side-by-side .content {
		padding: 0;
		margin-top: 1em;
	}
	.bio.side-by-side {
		margin-top: 1em;
	}
}

@media (max-width: 750px) {
	.slice {
		width: 90%;
	}
}

carouse-carousel > figure {
	margin-top: unset !important;
}

figure {
	position: relative;
}

figure > model-viewer {
	width: 100% !important;
	height: 600px !important;
	display: block;
	background: #333333 !important;
	--poster-color: #333;
	--progress-bar-color: rgba(255,255,255, 0.2);
	text-shadow: none;
}

figure > figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0.5em;
	background: rgba(0,0,0, 0.5);
	color: white;
	text-shadow: 0.5px 2px 1px rgba(0,0,0, 0.5);
	text-align: center;
}

/* site header */

lonnie-header {
	display: block;
	text-align: left;
	min-height: 77px;
}

lonnie-header nav {
	margin-left: 0.67em;
	color: #777;
}

lonnie-header a[data-marked] {
	color: #27d3ff;
	cursor: default;
	text-decoration: underline;
}

lonnie-header h1 {
	font-size: 2em;
}

lonnie-header nav > a {
	margin: 0;
}

/*
BLOG STUFF
*/

.blog-index ol {
	list-style: none;
}

.blog-index li + li {
	margin-top: 1em;
}

.date {
	opacity: 0.7;
	font-size: 0.8em;
	font-style: italic;
}

.blog-post img {
	width: 100%;
	display: block;
}

.blog-post .floaty {
	float: left;
	width: 50%;
	margin-right: 1em;
}

.blog-post .floaty.right {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

@media (max-width: 800px) {
	.blog-post .floaty {
		float: unset;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

/*
CATALOG STUFF
*/

.catalog-area {
	width: 80%;
	min-width: 600px;
	max-width: 1000px;
	margin: auto;
	margin-top: 2em;
	min-height: 40em;
}

.catalog-grid {
	margin-top: 2em;
}

.catalog-links {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
}

.catalog-links a {
	position: relative;
	flex: 1 1 0;
	margin-bottom: 0;
	border: 1px solid transparent;
	color: white;
}

.catalog-links a + a {
	margin-left: 0.5em;
}

.catalog-links a[data-active] {
	border: 1px solid white;
	box-shadow: 0 0 24px rgba(255,255,255, 0.5);
}

.catalog-links img {
	display: block;
	width: 100%;
}

.catalog-links a > div:last-of-type {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.25em 0.1em;
	text-align: center;
	background: rgba(0,0,0, 0.5);
}

.catalog-links a:hover > div:last-of-type,
.catalog-links a:focus > div:last-of-type {
	background: rgba(0,0,0, 0.6);
}

.catalog-content {
	position: relative;
	z-index: 1;
}

.catalog-content > div {
	overflow: hidden;
	background: #333;
	transition: all 400ms linear;
	height: 0;
	opacity: 0;
}

.catalog-content > div[animate-visible=true] {
	height: 300px;
	opacity: 1;
}

.sweetcata {
	display: flex;
	height: 100%;
}

.sweetcata > * {
	flex: 1 1 auto;
}

.sweetcata carouse-carousel {
	width: 50%;
}

.sweetcata carouse-carousel figure {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
}

.sweetcata carouse-carousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* .sweetcata > carouse-carousel {
	flex: 0 0 auto;
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.sweetcata > carouse-carousel img {
	width: 100%;
	height: 100%;
} */

/* .sweetcata > carouse-carousel img {
	display: block;
	height: 300px;
	width: 533px;
} */